<!--extend another file into this-->
{% extends 'music/base.html' %}

<!--start a block named body to be replaced by base-->
{% block body %}
    <h1 style="text-align:center"> This is Music!!!! :) </h1>
    <hr><br>

    <!--if albums list is not empty-->
    {% if albums %}
        <ul>
            <!--loop through albums-->
            {% for album in albums %}
                <li>
                    <!--url pattern-->
                    <a href="{% url 'music:details' album.id %}"> {{ album.albumTitle }}</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <h2> No Albums Found!!!</h2>
    {% endif %}
{% endblock %}